{% extends 'main.html' %}

{% block login %}
    <div class="large-offset-3 large-6 columns">
        <p></p>
        <h2>Изменение пароля.</h2>
        {%  if errorvalue %}
            <div style="background-color: lightpink">
            <p style="text-align: center">{{ errorvalue }}</p>
            </div>
        {% endif %}
        <p>Введите текущий, а затем новый пароль и его подтверждение.</p>
        <form action="/auth/password/" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" name="ok" value="Изменить пароль">
            <input class="button" type="submit" name="cancel" value="Отмена">
        </form>
    </div>
{% endblock %}