{% extends 'main.html' %}

{% block login %}
    <div class="large-offset-3 large-6 columns">
        <p></p>
        <h2>Регистрация в системе.</h2>
        {%  if errorvalue %}
            <div style="background-color: lightpink">
            <p style="text-align: center">{{ errorvalue }}</p>
            </div>
        {% endif %}
        <p>Пожалуйста, заполните все поля для регистрации в системе (поля отмеченные знаком * обязательны к заполнению).</p>
        <form action="/auth/register/" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" value="Зарегистрироваться">
        </form>
    </div>
{% endblock %}