{% extends "main.html" %}
{% load staticfiles %}

{% block title %}Сайт анкетирования компании MBRC{% endblock %}
{% block content %}
    <div class="small-6 columns">
         <img src="{% static "mbrc/anketa1.jpg" %}" alt="slide 1" />
    </div>
    <div class="small-6 columns">
    <p class="text-justify">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Здравствуйте <b>{{ user.first_name }}</b>!
        Вас приветствует компания <b>Медицинские бизнес решения и консалтинг</b>. Наш сервис предлагает Вам пройти анкетирование с целью изучения
        и сбора статистики по использованию лекарственных средств различных компаний, качетсва и частоты связи с вендорами.
    </p>
    </div>

    <div class="small-12 columns">
    <h3 class="text-center">Список доступных анкет для Вашей специализации:</h3>
    <ul>
    {% for anketa in list %}
        <li><a href="anketa/{{ anketa.id }}/">{{ anketa.name }}</a></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}